{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(evenementForm) }}
    {{ form_widget(evenementForm) }}
    <button>CREAR</button>
    {{ form_end(evenementForm) }}

{% endblock %}

{% block title %}

{% endblock %}

